[core]
    autocrlf = true
    excludesfile = ~/.gitignore
[push]
    default = simple
[alias]
    # Amend the previous commit message
    amend = commit --amend -C HEAD
    # Add all
    aa = add .
    # Show all local and remote branches
    ba = branch --all
    # Show all local branches
    br = branch
    # Commit
    ci = commit
    # Commit with message
    cm = commit -m
    # Checkout
    co = checkout
    # Create new branch and checkout
    cob = checkout -b
    # Create remote branch and track locally
  	cot = checkout -t
    # Hard delete branch
    d = branch -D
    # List changes with cached remote
    dc = diff --cached
    # Commit history with dates
    hist = log --graph --pretty=format:'%h %ad | %s%d [%an]' --date=short
    # Display log for last commit
    last = log -1 HEAD
    # More succinct log
    lg = log --graph --pretty=format:'%Cred%h%Creset -%C(yellow)%d%Creset %s %Cgreen(%cr, %cn)%Creset' --abbrev-commit --date=relative
    # To be used instead of `pull` to avoid the creation of a merge branch on `pull`
    puff = pull --ff --ff-only
    # Status
  	s = status
    # Status
  	st = status
    # Unstages changes
  	unstage = reset HEAD --
[fetch]
    prune = true
[mergetool]
    keepBackup = false
[branch "master"]
  	mergeoptions = --no-ff
